<div class="max-w-xl w-full mx-auto">
  <h2 class="text-3xl font-bold text-gray-900 dark:text-white text-center mb-6">
    Power Your Business with Techsavanna ERPs
  </h2>

  <form class="space-y-6" (ngSubmit)="signup()" [formGroup]="signup_form">
    <app-reactive-input
      [form]="signup_form"
      [id]="'company_name'"
      [key]="'company_name'"
      [label]="'Company Name'"
      [type]="'text'"
    ></app-reactive-input>

    <app-reactive-input
      [form]="signup_form"
      [id]="'first_name'"
      [key]="'first_name'"
      [label]="'First Name'"
      [type]="'text'"
    ></app-reactive-input>

    <app-reactive-input
      [form]="signup_form"
      [id]="'last_name'"
      [key]="'last_name'"
      [label]="'Last Name'"
      [type]="'text'"
    ></app-reactive-input>

    <app-reactive-input
      [form]="signup_form"
      [id]="'email'"
      [key]="'email'"
      [label]="'Email Address'"
      [type]="'email'"
    ></app-reactive-input>

    <app-reactive-input
      [form]="signup_form"
      [id]="'phone'"
      [key]="'phone'"
      [label]="'Phone Number'"
      [type]="'tel'"
    ></app-reactive-input>

    <app-reactive-input
      [form]="signup_form"
      [id]="'password'"
      [key]="'password'"
      [label]="'Password'"
      [type]="'password'"
    ></app-reactive-input>

    <app-reactive-input
      [form]="signup_form"
      [id]="'confirm_password'"
      [key]="'confirm_password'"
      [label]="'Confirm Password'"
      [type]="'password'"
    ></app-reactive-input>

    @if (signup_form.hasError('passwordMismatch') &&
    signup_form.get('confirm_password')?.value) {
    <div class="text-red-500">Passwords do not match.</div>
    }

    <div class="mt-4">
      <button
        type="submit"
        class="flex w-full justify-center gap-2 rounded-md bg-sky-700 hover:bg-sky-600 focus:ring-2 focus:ring-sky-500 px-4 py-2 text-sm font-semibold text-white transition-all duration-200"
      >
        Sign Up @if (loading) {
        <p-progress-spinner
          strokeWidth="8"
          fill="transparent"
          animationDuration=".5s"
          [style]="{ width: '20px', height: '20px' }"
          class="text-white"
        />
        }
      </button>
    </div>
  </form>
</div>
