<div class="max-w-xl w-full space-y-6 lg:space-y-8 pt-2 lg:pt-0">
  <!-- Centered Logo -->
  <div class="flex justify-center">
    <a routerLink="/">
      <img src="/images/images.jpeg" alt="Logo" class="h-32 w-32 rounded-full object-cover" />
    </a>
  </div>

  <!-- Welcome Message -->
  <div class="text-center -mt-4 lg:-mt-6">
    <h2 class="text-3xl font-bold text-gray-900 dark:text-white">
      Welcome Back to Savanna ERP Solutions
    </h2>
    <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
      Your business command center.
    </p>
  </div>

  <!-- Login Form -->
  <form class="space-y-6" (ngSubmit)="forgot_password()" [formGroup]="forgot_form">
    <app-reactive-input [form]="forgot_form" [id]="'email'" [key]="'email'" [label]="'Email Address'" [type]="'email'"
      [classes]="'border border-sky-400 focus:border-sky-500 focus:ring-sky-500'"></app-reactive-input>

    <!-- Spacer Below Password on Web -->
    <div class="hidden lg:block h-2"></div>

    <!-- Buttons -->
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-3">
      <button type="submit"
        class="flex-1 flex justify-center gap-2 rounded-md bg-sky-500 hover:bg-sky-600 focus:ring-2 focus:ring-sky-500 px-3 py-2 sm:px-4 sm:py-2.5 text-xs sm:text-sm font-semibold text-white transition-all duration-200">
        Submit @if (loading) {
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
          [style]="{ width: '16px', height: '16px' }" class="text-white" />
        }
      </button>
      <a routerLink="/"
        class="flex-1 flex justify-center items-center gap-2 rounded-md bg-gray-100 hover:bg-gray-200 focus:ring-2 focus:ring-gray-300 px-3 py-2 sm:px-4 sm:py-2.5 text-xs sm:text-sm font-semibold text-gray-700 transition-all duration-200 border border-gray-300">
        <i class="pi pi-home text-xs sm:text-sm"></i>
        Home
      </a>
    </div>
  </form>
</div>