<div [formGroup]="form!!" class="w-full mt-1">

  <div>
    <label class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100">{{ label }} </label>
    <div class="mt-1">
      <textarea class="block w-full rounded-md bg-white dark:bg-gray-800 px-3 py-1.5 text-base text-gray-900 dark:text-gray-100 outline-1 -outline-offset-1 outline-gray-300 dark:outline-gray-600 placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 dark:focus:outline-indigo-400 sm:text-sm/6"
             [formControlName]="key"
             [id]="id"
             [pattern]="pattern"
             [placeholder]="placeholder">
      </textarea>
    </div>
  </div>

  @if (hasFieldError()){
    <span class="text-red-900">

      @if (showError()){
        This field is required
      }

      @if (hasPatternError()){
        This field does not match required format
      }

    </span>
  }

</div>
