<div class="flex min-h-screen flex-col justify-start sm:justify-center px-2 py-12 lg:px-8 w-full bg-gray-100 dark:bg-gray-900">
  <div class="sm:mx-auto w-full sm:max-w-2xl bg-white dark:bg-gray-800 px-2 sm:px-8 py-10">
    <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-gray-100">
      Upishi Hub Admin
    </h2>
    <h2 class="my-5 text-center text-2xl/9 font-semibold tracking-tight text-gray-900 dark:text-gray-100">
      Sign in to your account
    </h2>

    <form class="space-y-6" (ngSubmit)="login()" [formGroup]="login_form">
      <div>
        <app-reactive-input
          [form]="login_form"
          [id]="'email'"
          [key]="'email'"
          [label]="'Email Address'"
          [type]="'email'"
        >
        </app-reactive-input>
      </div>

      <div>
        <app-reactive-input
          [form]="login_form"
          [id]="'password'"
          [key]="'password'"
          [label]="'Password'"
          [type]="'password'"
        >
        </app-reactive-input>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center gap-2 rounded-md bg-indigo-600 dark:bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white dark:text-gray-100 shadow-xs hover:bg-indigo-500 dark:hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:focus-visible:outline-indigo-400"
        >
          Sign in

          @if (loading) {
            <p-progress-spinner
              strokeWidth="8"
              fill="transparent"
              animationDuration=".5s"
              [style]="{ width: '20px', height: '20px' }"
              class="text-white dark:text-gray-100"
            />
          }
        </button>
      </div>
    </form>

    <div class="mx-4">
      <p-toast position="top-right" />
    </div>
  </div>
</div>
