<div [formGroup]="form!!"  class="mt-1">

  <div>
    <label for="location" class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100">{{label}}</label>
    <div class="mt-1">
      <select id="location" name="location"
              class="block w-full rounded-md bg-white dark:bg-gray-800 px-3 py-1.5 text-base text-gray-900 dark:text-gray-100 outline-1 -outline-offset-1 outline-gray-300 dark:outline-gray-600 placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 dark:focus:outline-indigo-400 sm:text-sm/6"
              [formControlName]="key" [multiple]="multiple">

        @if (choices.length){
          <option >Select an Option</option>
        }

        @if (!choices.length){
          <option>No Items are Available</option>
        }

        @for (choice of choices; track choice.id) {
          <option [value]="choice.id">
            {{choice.name}}
          </option>
        }


      </select>
    </div>

  </div>

  @if (hasFieldError()){

    @if (showError()){
      <span> This field is required </span>
    }

  }

</div>
